.form-field {
    width: auto;
    height: auto;
}

.vernam-main {
    position:absolute; 
    top:0; left:0; right:0; bottom:0; 
    margin:auto;
}

.input-div {
    padding: 3px;
}

.button-ed {
    
}