header {
    width: 100vw;
    height: 15vh;
    background-color: #57d2d7;
    box-sizing: border-box;
    color: #37414d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}